<a href="https://colab.research.google.com/github/abinashp437/Stance_Detection_FNC_1/blob/main/fnc_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exploration and Preprocess**

In [1]:
import pandas as pd

In [2]:
body_url = "https://raw.githubusercontent.com/FakeNewsChallenge/fnc-1/master/train_bodies.csv"
body = pd.read_csv(body_url)

In [3]:
stance_url = "https://raw.githubusercontent.com/FakeNewsChallenge/fnc-1/master/train_stances.csv"
stance = pd.read_csv(stance_url)

In [4]:
print(body.shape)
print(stance.shape)

(1683, 2)
(49972, 3)

In [5]:
body.head()

   Body ID                                        articleBody
0        0  A small meteorite crashed into a wooded area i...
1        4  Last week we hinted at what was to come as Ebo...
2        5  (NEWSER) – Wonder how long a Quarter Pounder w...
3        6  Posting photos of a gun-toting child online, I...
4        7  At least 25 suspected Boko Haram insurgents we...

In [6]:
stance.head()

                                            Headline  Body ID     Stance
0  Police find mass graves with at least '15 bodi...      712  unrelated
1  Hundreds of Palestinians flee floods in Gaza a...      158      agree
2  Christian Bale passes on role of Steve Jobs, a...      137  unrelated
3  HBO and Apple in Talks for $15/Month Apple TV ...     1034  unrelated
4  Spider burrowed through tourist's stomach and ...     1923   disagree

In [7]:
len(body['Body ID'].unique())

1683

In [8]:
len(stance['Body ID'].unique())

1683

In [9]:
stance['Body ID'].value_counts()

1921    187
1948    175
40      172
524     171
1549    166
       ...
376       1
140       1
307       1
1066      1
59        1
Name: Body ID, Length: 1683, dtype: int64

In [10]:
stance.sort_values(['Body ID'], axis = 0, ascending = True,  inplace = True)

In [11]:
stance

                                                Headline  Body ID     Stance
27879     Soldier shot near Canadian parliament building        0  unrelated
21704  Caught a catfish record in Po: 127 kg and 2.67...        0  unrelated
7110   Enormous 20-stone catfish caught with fishing ...        0  unrelated
12573             Soldier shot at war memorial in Canada        0  unrelated
16307  A soldier has been shot at Canada’s war memori...        0  unrelated
...                                                  ...      ...        ...
46450  Ann Arbor pizza delivery driver surprised with...     2532      agree
41950   Luckiest Pizza Delivery Guy Ever Gets $2,000 Tip     2532      agree
34899                 Pizza delivery man gets $2,000 tip     2532      agree
15822    Pizza delivery driver surprised with $2,000 tip     2532      agree
27064  Pizza delivery man gets tipped more than $2,00...     2532      agree

[49972 rows x 3 columns]

In [12]:
stance['Stance'].isnull().value_counts()

False    49972
Name: Stance, dtype: int64